<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css"/>
  <link rel="stylesheet" href="../css/poetry.css"/>
  <script src="../js/poetry.js"></script>
  <title>Poetry - Project Muse</title>
</head>
<body>
  <nav id="primary_nav">
    <a href="../views/index.html">Project Muse</a>
    <button>Join Beta</button>
  </nav>
  <nav id="navigator">
    <ul>
      <li><a href="../views/index.html">Home</a></li>
      <li><a href="../views/poetry.html">Poetry</a></li>
      <li><a href="../views/fiction.html">Fiction</a></li>
      <li><a href="../views/nonfiction.html">Non-fiction</a></li>
      <li><a href="../views/script.html">Scripts</a></li>
      <li><a href="../views/visual.html">Visual Arts</a></li>
    </ul>
  </nav>
  <main>
    <section id="content">
      <article>
        <div>
          <h2>I Rebuffed a Man and He Died 10 min Later</h2>
          <p class="pitch">I felt responsable. I felt like I killed him</p>
          <p>Devina Grey</p>
        </div>
      </article>
      <article>
        <div>
          <h2>Men Don't Need Six Month Reminders</h2>
          <p class="pitch">He said that he was going to change that bulb you dont need to nag</p>
          <p>Vanessa Torre</p>
        </div>
      </article>
      <article>
        <div>
          <h2>An Open Letter to the Doctor Who Almost Killed Me</h2>
          <p class="pitch">"You just need some brothers to rough you up and show you what real pain is"</p>
          <p>Emily Kate</p>
        </div>
      </article>
      <article>
        <div>
          <h2>The Day my Daughter Forgot Me</h2>
          <p class="pitch">I didnt see my baby girl for six months</p>
          <p>Glinna Gill</p>
        </div>
      </article>
      <article>
        <div>
          <h2>The Victim Impact Statement that my Ex-Boyfriend Doesn't Want You to Read</h2>
          <p class="pitch">Today I witnessed my abuser plead guilty to a domestic violence charge in New York County's for integrated Domestic Violence</p>
          <p>Christina Celentaro</p>
        </div>
      </article>
      <article>
        <div>
          <h2>Night Rage</h2>
          <p class="pitch">How quirky behavior in my marriage became terrifying</p>
          <p>Audrey Zetta</p>
        </div>
      </article>
      <article>
        <div>
          <h2>I Don't Know How Many Grandchildren to Tell People I Have</h2>
          <p class="pitch">Whenever I mention I have lived abroad, the same reaction </p>
          <p>Bebe Nicholson</p>
        </div>
      </article>
    </section>
    <aside id="trending">
      <h2>Trending on Muse</h2>
      <hr>
      <div class="trending_item">
        <h3>01</h3>
        <span>
          <h4>Gen X Will Not Go Quietly</h4>
          <p>Amber Fraley in GEN</p>
          <p class="trending_date">Jan 23</p>
        </span>
      </div>
      <div class="trending_item">
        <h3>02</h3>
        <span>
          <h4>The Actual State of the Union</h4>
          <p>Drew Manley in GEN</p>
          <p class="trending_date">Jan 30</p>
        </span>
      </div>
      <div class="trending_item">
        <h3>03</h3>
        <span>
          <h4>Teslas Cybertruck Has a Huge Cowboy Problem</h4>
          <p>David H. Freedman in Marker</p>
          <p class="trending_date">Feb 3</p>
        </span>
      </div>
      <div class="trending_item">
        <h3>04</h3>
        <span>
          <h4>Want to Feel love? Get Cancer.</h4>
          <p>Brandon Janous in Human Parts</p>
          <p class="trending_date">Jan 6</p>
        </span>
      </div>
    </aside>
  </main>
</body>
</html>