#trending {
  padding-top: 60px;
  width: 280px;
}

#trending h2 {
  font-size: 1.5rem;
  font-weight: 500px;
  display: flex;
  flex-direction: column;
}

#trending hr {
  border: 0;
  border-top: 1px solid lightgrey;
  margin: 20px 0;
}

.trending_item {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.trending_item h3 {
  color: lightgrey;
  font-size: 2rem;
  font-weight: 500;
}

.trending_item span {
  padding-left: 20px;
}

.trending_item p {
  font-size: .9rem;
  margin-top: 5px;
}

.trending_date {
  color: grey;
}